* {
  font-family: "Radio Canada", sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 60%;
  }
}